<template name="visualizationForm">
  <form class="ui main form segment">
    <input type="hidden" name="_id" value={{vis._id}}>

    <div class="field">
      <div class="ui header">
        Visualization for job
        <div class="sub header">
          <a href={{pathFor 'jobEdit' id=vis.jobId}}>{{vis.jobName}}</a>
        </div>
      </div>
    </div>

    <div class="fields">
      <div class="four wide field">
        <label>Type</label>
        {{> dropdown items=visTypes name="type" value=vis.type}}
      </div>

      <div class="twelve wide field">
        <label>Title</label>
        <input type="text" name="title" value={{vis.title}} placeholder="title...">
      </div>
    </div>
    

    {{> Template.dynamic template=(typeForm vis) data=(typeData vis)}}

    <div class="action field {{ ownerVisibility vis }}">
      <div class="ui labeled icon basic green submit button">
        <i class="checkmark icon"></i> Apply
      </div>
      
      <div class="ui right floated labeled icon basic red button js-delete">
        <i class="trash icon"></i> delete
      </div>
      <div class="ui right floated labeled icon basic button js-clone">
        <i class="clone icon"></i> clone
      </div>
    </div>
  </form>

  {{> visualization id=vis._id height='400px'}}

  {{> visualization type="DataTable" basic=true result=vis.result}}
</template>