.visualizationWrapper .timeAgo {
  font-size: 0.7em;
  padding-left: 1em;
}

.visualizationWrapper .actions {
  display: none;
}

.visualizationWrapper:hover .actions {
  display: initial;
}

.visualizationBasicTopbar {
  position: absolute;
  right: 0px;
}

.visualizationCanvas {
  overflow: auto;
}
