.visualizationWrapper .timeAgo {
  font-size: .7em;
  padding-left: 1em;
}

.visualizationWrapper .actions {
  display: none;
}

.visualizationWrapper:hover .actions {
  display: initial;
}

.visualizationCanvas {
  overflow: auto;
}