<template name="visualization">
  <div class="visualizationWrapper" style="height: {{height}}">
    {{#if basic}}
      <div class="ui basic {{loading}} segment visualizationCanvas">
        {{> Template.dynamic template=templateName data=data}}   
      </div>
    {{else}}
      <div class="ui top attached segment visualizationTopbar">
        {{#unless isFullscreen}}
          <div class="ui grid">
            <div class="two column row">
              <div class="column">
                <strong>{{vis.title}}</strong>  
              </div>
              <div class="right aligned column">
                <span class="timeAgo">{{timeAgo result.updatedAt}}</span>
                &ensp;
                <i class="download link icon js-download" title="download"></i>
                {{#if isOwner vis}}
                  <i class="refresh {{running}} link icon js-run" title="refresh"></i>
                  <a href={{pathFor 'visualizationEdit' id=vis._id}} title="edit"><i class="edit link icon"></i></a>
                {{/if}}
              </div>
            </div>       
          </div>
        {{else}}
          <strong>{{vis.title}}</strong>
        {{/unless}}
      </div>
      <div class="ui bottom attached {{loading}} segment visualizationCanvas">
        {{> Template.dynamic template=templateName data=data}}   
      </div>
    {{/if}}
  </div>
</template>

<template name="visualizationError">
  <div class="ui icon error message">
    <i class="warning icon"></i>
    <div class="content">
      {{data}}  
    </div>
  </div>
</template>

<template name="visualizationRunning">
  <div class="ui active inverted dimmer">
    <div class="ui indeterminate text loader">running job</div>
  </div>
</template>