<template name="visWorldMap">
  <div class="map" style="position: relative"></div>
</template>


<template name="visWorldMapForm">
  <div class="four fields">
    <div class="field">
      <label>Map Type</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="mapType" value={{settings.mapType}}>
        <i class="dropdown icon"></i>
        <div class="default text">select</div>
        <div class="menu">
          <div class="item" data-value="world">World Map</div>
          <div class="item" data-value="usa">US Map</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label>Country Field</label>
      {{> dropdown name="countryField" value=settings.countryField items=fields}}
    </div>

    <div class="field">
      <label>Value Field</label>
      {{> dropdown name="valueField" value=settings.valueField items=fields}}
    </div>

    <div class="field">
      <label>Target Color</label>
      {{> colorPicker name="targetColor" value=settings.targetColor}}
    </div>
  </div>
</template>