<template name="visChartForm">
  <div class="ui small form field">
    <div class="ui pointing secondary tabular menu">
      <a class="active item" data-tab="series">Series</a>
      <a class="item" data-tab="axes">Axes</a>
      <a class="item" data-tab="grid">Grid</a>
    </div>
    <div class="ui active tab container" data-tab="series">
      {{> visChartFormSeries}}
    </div>
    <div class="ui tab container" data-tab="axes">
      {{> visChartFormAxes}}
    </div>
    <div class="ui tab container" data-tab="grid">
      {{> visChartFormGrid}}
    </div>
  </div>
</template>


<template name="visChartFormSeriesTypes">
  <div class="ui single selection dropdown">
    <input type="hidden" name={{name}} value={{value}}>
    <i class="dropdown icon"></i>
    <span class="default text">Chart Type</span>
    <div class="menu">
      <div class="item" data-value="line"><i class="line chart icon"></i>line</div>
      <div class="item" data-value="spline"><i class="line chart icon"></i>line (smooth)</div>
      <div class="item" data-value="area"><i class="area chart icon"></i>area</div>
      <div class="item" data-value="bar"><i class="bar chart icon"></i>bar</div>
      <div class="item" data-value="pie"><i class="pie chart icon"></i>pie</div>
    </div>
  </div>
</template>


<template name="visChartFormSeriesFields">
  <div class="ui multiple search selection dropdown">
    <input type="hidden" name="{{name}}:list" value={{value}}>
    <i class="dropdown icon"></i>
    <span class="default text">columns</span>
    <div class="menu">
      {{#each field in ../fields}}
        <div class="item">{{field}}</div>
      {{/each}}
    </div>
  </div>
</template>


<template name="visChartFormSeries">
  <div class="field">
    <div class="ui basic button js-add-series">
      <i class="plus icon"></i> Add series
    </div>
  </div>  

  {{#each series in seriesArray}}
    <div class="fields">
      <div class="three wide field">
        {{> visChartFormSeriesTypes name=(fieldName @index 'type') value=series.type}}
      </div>
      <div class="nine wide field">
        {{> visChartFormSeriesFields name=(fieldName @index 'columns') value=series.columns}}
      </div>
      <div class="three wide field">
        <div class="ui single search selection dropdown">
          <input type="hidden" name={{fieldName @index 'yAxis'}} value={{series.yAxis}}>
          <i class="dropdown icon"></i>
          <span class="text"></span>
          <div class="menu">
            <div class="item" data-value="y">Y axis</div>
            <div class="item" data-value="y2">Y2 axis</div>
          </div>
        </div>
      </div>
      <div class="one wide field">
        <i class="circular red inverted remove link icon js-remove-series" data-index={{@index}}></i>
      </div>
    </div>
  {{/each}}  

  <div class="three fields">
    <div class="field">
      <div class="ui single search selection dropdown">
        <input type="hidden" name="categoryField" value={{settings.categoryField}}>
        <i class="dropdown icon"></i>
        <span class="text"></span>
        <div class="menu">
          <div class="item" data-value="">category field (optional)</div>
          <div class="divider"></div>
          {{#each field in fields}}
            <div class="item">{{field}}</div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="field">
      <div class="ui single search selection dropdown">
        <input type="hidden" name="timeField" value={{settings.timeField}}>
        <i class="dropdown icon"></i>
        <span class="text"></span>
        <div class="menu">
          <div class="item" data-value="">time field (optional)</div>
          <div class="divider"></div>
          {{#each field in fields}}
            <div class="item">{{field}}</div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="field">
      <div class="ui labeled input">
        <a href="https://github.com/mbostock/d3/wiki/Time-Formatting" target="_blank" class="ui label">
          Time Format
        </a>
        <input type="text" name="timeFormat" value={{settings.timeFormat}} placeholder="%Y-%m-%d">  
      </div>
    </div>
  </div>
</template>


<template name="visChartFormAxes">
  <table class="ui definition table">
    <thead>
      <tr>
        <th class="one wide"></th>
        <th class="nine wide">Label</th>
        <th class="three wide">Min</th>
        <th class="three wide">Max</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="center aligned">X</td>
        <td><input type="text" name="labelX" value={{settings.labelX}} placeholder=""></td>
        <td><input type="text" name="minX:number" value={{settings.minX}} placeholder="auto"></td>
        <td><input type="text" name="maxX:number" value={{settings.maxX}} placeholder="auto"></td>
      </tr>
      <tr>
        <td class="center aligned">Y</td>
        <td><input type="text" name="labelY" value={{settings.labelY}} placeholder=""></td>
        <td><input type="text" name="minY:number" value={{settings.minY}} placeholder="auto"></td>
        <td><input type="text" name="maxY:number" value={{settings.maxY}} placeholder="auto"></td>
      </tr>
      <tr>
        <td class="center aligned">Y2</td>
        <td><input type="text" name="labelY2" value={{settings.labelY2}} placeholder=""></td>
        <td><input type="text" name="minY2:number" value={{settings.minY2}} placeholder="auto"></td>
        <td><input type="text" name="maxY2:number" value={{settings.maxY2}} placeholder="auto"></td>
      </tr>
    </tbody>
  </table>
</template>


<template name="visChartFormGrid">
  <div class="field">
    <div class="ui slider checkbox">
      <input type="checkbox" name="gridY:boolean" checked={{settings.gridY}}>
      <label>horizontal grid lines</label>
    </div>  
  </div>
  <div class="field">
    <div class="ui slider checkbox">
      <input type="checkbox" name="gridX:boolean" checked={{settings.gridX}}>
      <label>vertical grid lines</label>
    </div>  
  </div>

  <div class="field">
    <div class="ui basic button js-add-line">
      <i class="plus icon"></i> Add reference line
    </div>    
  </div>
  {{#each line in gridLines}}
    {{> visChartFormGridLine line=line index=@index}}
  {{/each}}
</template>


<template name="visChartFormGridLine">
  <div class="fields">
    <div class="three wide field">
      <div class="ui selection dropdown">
        <input type="hidden" name="gridLines[{{index}}][axis]" value={{line.axis}}>
        <i class="dropdown icon"></i>
        <span class="text"></span>
        <div class="menu">
          <div class="item" data-value="y">horizontal</div>
          <div class="item" data-value="x">vertical</div>
        </div>
      </div>
    </div>
    <div class="two wide field">
      <input type="text" name="gridLines[{{index}}][value]" value={{line.value}} placeholder="value">
    </div>
    <div class="seven wide field">
      <input type="text" name="gridLines[{{index}}][text]" value={{line.text}} placeholder="label">
    </div>
    <div class="three wide field">
      <div class="ui selection dropdown">
        <input type="hidden" name="gridLines[{{index}}][position]" value={{line.position}}>
        <i class="dropdown icon"></i>
        <span class="text"></span>
        <div class="menu">
          <div class="item">start</div>
          <div class="item">middle</div>
          <div class="item">end</div>
        </div>
      </div>
    </div>
    <div class="one wide field">
      <i class="circular red inverted remove link icon js-remove-line" data-index={{index}}></i>
    </div>
  </div>
</template>