<!-- <template name="visDataTable">
  {{> Template.dynamic template=templateName}} 
</template>


<template name="visDataTableError">
  <div class="ui icon error message">
    <i class="warning icon"></i>
    <div class="content">
      {{object.data}}  
    </div>
  </div>
</template>


<template name="visDataTableRunning">
  <div class="ui active inline loader"></div>
  &ensp;
  <div class="ui basic red button js-cancel">cancel</div>
</template> -->


<template name="visDataTable">
  <table class="ui celled table">
    <thead>
      <tr>
        {{#each key in dataKeys}}
          <th>{{key}}</th>
        {{/each}}
      </tr>
    </thead>

    <tbody>
      {{#each row in data}}
        <tr>
          {{#each key in dataKeys}}
            <td>{{getField row key}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>