<template name="visForm">
  <form class="ui form segment">
    <div class="field">
      <div class="ui search selection dropdown">
        <input type="hidden" name="type" value={{job.vis.type}}>
        <i class="dropdown icon"></i>
        <div class="default text">select visualization type</div>
        <div class="menu">
          <div class="item" data-value="Chart"><i class="line chart icon"></i> Line Chart</div>
          <div class="item" data-value="PieChart"><i class="pie chart icon"></i> Pie Chart</div>
          <div class="item" data-value="WorldMap"><i class="world icon"></i> World Map</div>
          <div class="item" data-value="HeatMap"><i class="fire icon"></i> Heat Map</div>
          <div class="item" data-value="DataTable"><i class="table icon"></i> Data Table</div>
        </div>
      </div>
    </div>

    {{> Template.dynamic template=(typeForm job) data=(typeData job)}}

    <div class="action field {{ ownerVisibility job }}">
      <div class="ui submit button">Apply</div>
    </div>
  </form>
</template>