<template name="visualization">
  <div class="visualizationWrapper" style="height: {{visHeight}}; margin-bottom: 3rem">
    {{#if visBasic}}
      {{> Template.dynamic template=templateName data=visData}} 
    {{else}}
      <div class="ui top attached segment grid">
        <div class="two column row">
          <div class="column">
            <strong>{{name}}</strong>  
          </div>
          <div class="right aligned column">
            <small>{{timeAgo result.updatedAt}}</small>
            &ensp;
            <i class="refresh link icon js-run" title="rerun"></i>
            <i class="edit link icon js-edit-vis" title="edit visualization"></i>
            <i class="terminal link icon js-edit-job" title="edit job"></i>
          </div>          
        </div>
      </div>
      <div class="ui bottom attached segment">
        {{> Template.dynamic template=templateName data=visData}}   
      </div>
    {{/if}}
  </div>
</template>


<template name="visualizationError">
  <div class="ui icon error message">
    <i class="warning icon"></i>
    <div class="content">
      {{data}}  
    </div>
  </div>
</template>


<template name="visualizationRunning">
  <div class="ui active inline loader"></div>
  &ensp;
  <div class="ui basic red button js-cancel">cancel</div>
</template>