<template name="visualization">
  <div class="visualizationWrapper">
    {{#if visBasic}}
      {{> Template.dynamic template=templateName data=visData}} 
    {{else}}
      <div class="ui top attached segment grid">
        <div class="twelve wide column">
          <strong>{{name}}</strong>
        </div>
        <small class="four wide right aligned column">
          {{timeAgo result.updatedAt}}
        </small>
      </div>
      <div class="ui bottom attached segment">
        {{> Template.dynamic template=templateName data=visData}}   
      </div>
    {{/if}}
  </div>
</template>


<template name="visualizationError">
  <div class="ui icon error message">
    <i class="warning icon"></i>
    <div class="content">
      {{data}}  
    </div>
  </div>
</template>


<template name="visualizationRunning">
  <div class="ui active inline loader"></div>
  &ensp;
  <div class="ui basic red button js-cancel">cancel</div>
</template>