<template name="visWorldMap">
  <div class="map" style="position: relative"></div>
</template>


<template name="visWorldMapForm">
  <div class="four fields">
    <div class="field">
      <div class="ui selection dropdown">
        <input type="hidden" name="mapType" value={{settings.mapType}}>
        <i class="dropdown icon"></i>
        <div class="default text">Map Type</div>
        <div class="menu">
          <div class="item" data-value="world">World Map</div>
          <div class="item" data-value="usa">US Map</div>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="ui selection dropdown">
        <input type="hidden" name="countryField" value={{settings.countryField}}>
        <i class="dropdown icon"></i>
        <div class="default text">country field</div>
        <div class="menu">
          {{#each field in fields}}
            <div class="item" data-value={{field}}>{{field}}</div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="field">
      <div class="ui selection dropdown">
        <input type="hidden" name="valueField" value={{settings.valueField}}>
        <i class="dropdown icon"></i>
        <div class="default text">value field</div>
        <div class="menu">
          {{#each field in fields}}
            <div class="item" data-value={{field}}>{{field}}</div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="field">
      <input type="color" name="targetColor" value={{settings.targetColor}} placeholder="target color">
    </div>
  </div>
</template>