<template name="visWorldMap">
  <div class="map" style="position: relative"></div>
</template>


<template name="visWorldMapForm">
  <div class="four fields">
    <div class="field">
      <label>Map Type</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="mapType" value={{settings.mapType}}>
        <i class="dropdown icon"></i>
        <div class="default text">select</div>
        <div class="menu">
          <div class="item" data-value="world">World Map</div>
          <div class="item" data-value="usa">US Map</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label>Country Field</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="countryField" value={{settings.countryField}}>
        <i class="dropdown icon"></i>
        <div class="default text">select field</div>
        <div class="menu">
          {{#each field in fields}}
            <div class="item" data-value={{field}}>{{field}}</div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="field">
      <label>Value Field</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="valueField" value={{settings.valueField}}>
        <i class="dropdown icon"></i>
        <div class="default text">select field</div>
        <div class="menu">
          {{#each field in fields}}
            <div class="item" data-value={{field}}>{{field}}</div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="field">
      <label>Target Color</label>
      {{> colorPicker name="targetColor" value=settings.targetColor}}
      <!-- <input type="color" name="targetColor" value={{settings.targetColor}} placeholder="target color"> -->
    </div>
  </div>
</template>