<template name="visChartForm">
  <div class="ui small form field">
    <div class="ui pointing secondary tabular menu">
      <a class="active item" data-tab="series">Series</a>
      <a class="item" data-tab="display">Display</a>
      <a class="item" data-tab="axes">Axes</a>
      <a class="item" data-tab="grid">Grid</a>
    </div>
    <div class="ui active tab container" data-tab="series">
      {{> visChartFormSeries}}
    </div>
    <div class="ui tab container" data-tab="display">
      {{> visChartFormDisplay}}
    </div>
    <div class="ui tab container" data-tab="axes">
      {{> visChartFormAxes}}
    </div>
    <div class="ui tab container" data-tab="grid">
      {{> visChartFormGrid}}
    </div>
  </div>
</template>


<template name="visChartFormSeriesItem">
  <tr>
    <td>
      {{> dropdown items=types name=(namePath '[type]') value=series.type placeholder="Chart Type"}}
    </td>
    <td>
      {{> dropdown items=../fields name=(namePath '[field]') value=series.field}}
    </td>
    <td>
      <div class="ui input">
        <input type="text" name={{namePath '[name]'}} value={{series.name}} placeholder={{series.field}}>
      </div>
    </td>
    <td>
      {{> colorPicker name=(namePath '[color]') value=series.color}}
    </td>
    <td>
      {{> dropdown items=lineTypes name=(namePath '[lineType]') value=series.lineType}}
    </td>
    <td>
      {{> dropdown items=yAxes name=(namePath '[yAxis]') value=series.yAxis}}
    </td>
    <td>
      <div class="ui basic red circular icon button js-remove-series">
        <i class="minus icon"></i>
      </div>
    </td>
  </tr>
</template>


<template name="visChartFormGroupItem">
  <div class="fields">
    <div class="twelve wide field">
      {{> dropdown items=../fields multiple=true name=(path index) value=group}}
    </div>
    <div class="one wide field">
      <div class="ui basic red circular icon button js-remove-group">
        <i class="minus icon"></i>
      </div>
    </div>
  </div>
</template>


<template name="visChartFormSeries">
  <table class="ui very basic compact borderless table">
    <thead>
      <tr>
        <th class="two wide">Chart Type</th>
        <th class="four wide">Field</th>
        <th class="three wide">Name</th>
        <th class="two wide">Color</th>
        <th class="two wide">Line Type</th>
        <th class="two wide">Axis</th>
        <th class="one wide"></th>
      </tr>
    </thead>
    <tbody>
      {{#each series in seriesArray}}
        {{> visChartFormSeriesItem index=@index series=series}}
      {{/each}}
      <tr>
        <td colspan="6">
          <div class="ui basic button js-add-series">
            <i class="plus icon"></i> Add series
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  {{#each group in groupsArray}}
    {{> visChartFormGroupItem index=@index group=group}}
  {{/each}}

  <div class="ui basic button js-add-group">
    <i class="plus icon"></i> Add stacking group
  </div>

  <div class="ui horizontal divider">x values (optional)</div>

  <div class="fields">
    <div class="five wide field">
      {{> dropdown name="categoryField" value=settings.categoryField items=fields 
          placeholder="category field" allowEmpty=true}}
    </div>

    <div class="one wide field">
      <center><em>or</em></center>
    </div>

    <div class="five wide field">
      {{> dropdown name="timeField" value=settings.timeField items=fields 
          placeholder="time field" allowEmpty=true}}
    </div>

    <div class="five wide field">
      <div class="ui labeled input">
        <a href="https://github.com/d3/d3-3.x-api-reference/blob/master/Time-Formatting.md" target="_blank" class="ui label">
          Time Format
        </a>
        <input type="text" name="timeFormat" value={{settings.timeFormat}} placeholder="%Y-%m-%d">  
      </div>
    </div>
  </div>
</template>


<template name="visChartFormDisplay">
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name="hidePoints:boolean" checked={{settings.hidePoints}}>
      <label>hide points</label>
    </div>
  </div>

  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name="subchart:boolean" checked={{settings.subchart}}>
      <label>zoomable subchart</label>
    </div>
  </div>
</template>


<template name="visChartFormAxes">
  <table class="ui definition table">
    <thead>
      <tr>
        <th class="one wide"></th>
        <th class="nine wide">Label</th>
        <th class="two wide">Min</th>
        <th class="two wide">Max</th>
        <th class="two wide">
          Format
          <a href="https://github.com/mbostock/d3/wiki/Formatting" target="_blank">
            <i class="external link icon"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="center aligned">X</td>
        <td><input type="text" name="labelX" value={{settings.labelX}} placeholder="none"></td>
        <td><input type="text" name="minX:number" value={{settings.minX}} placeholder="auto"></td>
        <td><input type="text" name="maxX:number" value={{settings.maxX}} placeholder="auto"></td>
        <td><input type="text" name="formatX" value={{settings.formatX}} placeholder="auto"></td>
      </tr>
      <tr>
        <td class="center aligned">Y</td>
        <td><input type="text" name="labelY" value={{settings.labelY}} placeholder="none"></td>
        <td><input type="text" name="minY:number" value={{settings.minY}} placeholder="auto"></td>
        <td><input type="text" name="maxY:number" value={{settings.maxY}} placeholder="auto"></td>
        <td><input type="text" name="formatY" value={{settings.formatY}} placeholder="auto"></td>
      </tr>
      <tr>
        <td class="center aligned">Y2</td>
        <td><input type="text" name="labelY2" value={{settings.labelY2}} placeholder="none"></td>
        <td><input type="text" name="minY2:number" value={{settings.minY2}} placeholder="auto"></td>
        <td><input type="text" name="maxY2:number" value={{settings.maxY2}} placeholder="auto"></td>
        <td><input type="text" name="formatY2" value={{settings.formatY2}} placeholder="auto"></td>
      </tr>
    </tbody>
  </table>
</template>


<template name="visChartFormGrid">
  <div class="field">
    <div class="ui slider checkbox">
      <input type="checkbox" name="gridY:boolean" checked={{settings.gridY}}>
      <label>horizontal grid lines</label>
    </div>  
  </div>
  <div class="field">
    <div class="ui slider checkbox">
      <input type="checkbox" name="gridX:boolean" checked={{settings.gridX}}>
      <label>vertical grid lines</label>
    </div>  
  </div>

  <div class="field">
    <div class="ui basic button js-add-line">
      <i class="plus icon"></i> Add reference line
    </div>    
  </div>
  {{#each line in gridLines}}
    {{> visChartFormGridLine line=line index=@index}}
  {{/each}}
</template>


<template name="visChartFormGridLine">
  <div class="fields">
    <div class="three wide field">
      <div class="ui selection dropdown">
        <input type="hidden" name="gridLines[{{index}}][axis]" value={{line.axis}}>
        <i class="dropdown icon"></i>
        <span class="text"></span>
        <div class="menu">
          <div class="item" data-value="y">horizontal</div>
          <div class="item" data-value="x">vertical</div>
        </div>
      </div>
    </div>
    <div class="two wide field">
      <input type="text" name="gridLines[{{index}}][value]" value={{line.value}} placeholder="value">
    </div>
    <div class="seven wide field">
      <input type="text" name="gridLines[{{index}}][text]" value={{line.text}} placeholder="label">
    </div>
    <div class="three wide field">
      <div class="ui selection dropdown">
        <input type="hidden" name="gridLines[{{index}}][position]" value={{line.position}}>
        <i class="dropdown icon"></i>
        <span class="text"></span>
        <div class="menu">
          <div class="item">start</div>
          <div class="item">middle</div>
          <div class="item">end</div>
        </div>
      </div>
    </div>
    <div class="one wide field">
      <div class="ui basic red circular icon button js-remove-line" data-index={{index}}>
        <i class="minus icon"></i>
      </div>
    </div>
  </div>
</template>