<template name="visDataTable">
  <table class="ui sortable celled {{settings.tableSize}} {{settings.tableStyle}} table">
    <thead>
      <tr>
        {{#each col in columns}}
          <th>{{col.name}}</th>
        {{/each}}
      </tr>
    </thead>

    <tbody>
      {{#each row in data}}
        <tr class={{rowClass row}}>
          {{#each col in columns}}
            <td class={{cellClass row col.key}}>{{getValue row col.key}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>


<template name="visDataTableForm">
  <div class="three fields">
    <div class="field">
      <label>Table Size</label>
      {{> dropdown name="tableSize" value=settings.tableSize items=tableSizes defaultValue="medium"}}
    </div>

    <div class="field">
      <label>Table Style</label>
      {{> dropdown name="tableStyle" value=settings.tableStyle items=tableStyles defaultValue="standard"}}
    </div>

    <div class="field">
      <label>Row Color Field</label>
      {{> dropdown name="colorField" value=settings.colorField items=fields allowEmpty=true placeholder="none"}}
    </div>  
  </div>

  <table class="ui small form definition table">
    <thead>
      <tr>
        <th class="three wide"></th>
        <th class="three wide">
          Name
          <span data-tooltip="also supports image URLs, [COUNTRY flag] & [ICON icon]" data-inverted>
            <i class="fitted circle info icon link"></i>
          </span>
        </th>
        <th class="two wide">Type</th>
        <th>Settings</th>
        <th class="two wide">Color Field</th>
      </tr>
    </thead>
    <tbody>
      {{#each field in fields}}
        {{> visDataTableFormItem field=field config=(fieldSettings field)}}
      {{/each}}
    </tbody>
  </table>
</template>

<template name="visDataTableFormItem">
  <tr>
    <td>{{field}}</td>
    <td>
      <input type="text" name={{namePath "name"}} value={{config.name}} placeholder={{field}}>
    </td>
    <td>
      {{> dropdown items=displayTypes name=(namePath "type") value=config.type defaultValue="text"}}
    </td>
    <td>
      <div class="fields" style="margin: 0em -0.5em">
        {{#if isType 'number'}}
          <div class="eight wide field">
            {{> dropdown items=numberOptions name=(namePath "format") value=config.format defaultValue=","}}    
          </div>
          <div class="eight wide field">
            <input type="text" name={{namePath "prefix"}} value={{config.prefix}} placeholder="prefix">
          </div>
        {{/if}}
        {{#if isType 'date'}}
          <div class="eight wide field">
            {{> dropdown items=dateOptions name=(namePath "format") value=config.format defaultValue="YYYY-MM-DD HH:mm:ss"}}    
          </div>
        {{/if}}
        {{#if isType 'link'}}
          <input type="text" name={{namePath "url"}} value={{config.url}} placeholder="https://someurl.com/id/{{|field}}/{{|another}}">
        {{/if}}
        {{#if isType 'rating'}}
          <div class="eight wide field">
            {{> dropdown items=ratingIcons name=(namePath "icon") value=config.icon defaultValue="yellow star"}}    
          </div>
        {{/if}}
        {{#if isType 'flag'}}
          <div>
            A flag can use the two digit country code or the full name, see <a href="http://semantic-ui.com/elements/flag.html" target="_blank">here</a>.
          </div>
        {{/if}}
      </div>
    </td>
    <td>
      {{#unless isType 'hidden'}}
        {{> dropdown items=../fields name=(namePath "colorField") value=config.colorField allowEmpty=true}}
      {{/unless}}
    </td>
  </tr>
</template>