<template name="visWorldMap">
  <div class="map" style="text-align: center"></div>
</template>


<template name="visWorldMapForm">
  <div class="five fields">
    <div class="field">
      <label>Map Type</label>
      {{> dropdown name="mapType" value=settings.mapType items=mapTypes}}
    </div>

    <div class="field">
      <label>Country Field</label>
      {{> dropdown name="countryField" value=settings.countryField items=fields}}
    </div>

    <div class="field">
      <label>Value Field</label>
      {{> dropdown name="valueField" value=settings.valueField items=fields}}
    </div>

    <div class="field">
      <label>Target Color</label>
      {{> colorPicker name="targetColor" value=settings.targetColor}}
    </div>

    <div class="field">
      <label>Color Exponent</label>
      <input type="number" name="exponent:number" value={{settings.exponent}} placeholder="1">
    </div>
  </div>
</template>