<template name="login">
  <div class="ui centered middle aligned grid">
    <div class="column" style="max-width: 450px; padding-top: 10%">
      <form class="ui large form">
        <div class="ui segment">
          <div class="field">
            <div class="ui fluid left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui fluid left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <button type="submit" class="ui fluid large primary button {{loading}}">Login</button>
        </div>
      </form>
    </div>
  </div>
</template>