<template name="colorPicker">
  <div class="ui compact single selection fluid dropdown">
    <input type="hidden" name={{name}} value={{value}}>
    <i class="dropdown icon"></i>
    <span class="default text">select color</span>
    <div class="menu">
      <div class="item" data-value><div class="ui empty circular label"></div> auto</div>
      <div class="item" data-value="#DB2828"><div class="ui red empty circular label"></div> red</div>
      <div class="item" data-value="#F2711C"><div class="ui orange empty circular label"></div> orange</div>
      <div class="item" data-value="#FBBD08"><div class="ui yellow empty circular label"></div> yellow</div>
      <div class="item" data-value="#B5CC18"><div class="ui olive empty circular label"></div> olive</div>
      <div class="item" data-value="#21BA45"><div class="ui green empty circular label"></div> green</div>
      <div class="item" data-value="#00B5AD"><div class="ui teal empty circular label"></div> teal</div>
      <div class="item" data-value="#2185D0"><div class="ui blue empty circular label"></div> blue</div>
      <div class="item" data-value="#6435C9"><div class="ui violet empty circular label"></div> violet</div>
      <div class="item" data-value="#A333C8"><div class="ui purple empty circular label"></div> purple</div>
      <div class="item" data-value="#E03997"><div class="ui pink empty circular label"></div> pink</div>
      <div class="item" data-value="#A5673F"><div class="ui brown empty circular label"></div> brown</div>
      <div class="item" data-value="#E8E8E8"><div class="ui empty circular label"></div> lightgrey</div>
      <div class="item" data-value="#767676"><div class="ui grey empty circular label"></div> grey</div>
      <div class="item" data-value="#1B1C1D"><div class="ui black empty circular label"></div> black</div>
    </div>
  </div>
</template>