<template name="jobDataTable">
  {{> Template.dynamic template=templateName}} 
</template>


<template name="jobDataTableError">
  <div class="ui icon error message">
    <i class="warning icon"></i>
    <div class="content">
      {{object.data}}  
    </div>
  </div>
</template>


<template name="jobDataTableRunning">
  <div class="ui active inline loader"></div>
</template>


<template name="jobDataTableOK">
  <table class="ui celled table">
    <thead>
      <tr>
        {{#each key in dataKeys}}
          <th>{{key}}</th>
        {{/each}}
      </tr>
    </thead>

    <tbody>
      {{#each row in object.data}}
        <tr>
          {{#each key in dataKeys}}
            <td>{{getField row key}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>