<template name="jobFormRules">
  <input type="hidden" class="dummy">
  <div class="ui small form">
    <!-- <div class="fields">
      <div class="twelve wide field">
        <label>Email Recipients</label>
        <input type="text" name="alarm[recipients]" value={{doc.alarm.recipients}} placeholder="comma separated">
      </div>
      <div class="four wide field">
        <label>Severity</label>
        {{> severityDropdown name="alarm[severity]" value=doc.alarm.severity}}
      </div>
    </div> -->

    {{#each rule in rules}}
      {{> jobFormRulesItem ruleIdx=@index rule=rule fields=doc.result.fields}}
    {{/each}}

    {{#if rules.length}}
      <div class="ui divider"></div>
    {{/if}}

    <div class="field">
      <div class="ui fluid blue basic labeled icon button js-add-rule">
        <i class="plus icon"></i> Add rule
      </div>  
    </div>

    <!-- Tricking semantic ui into not removing the bottom margin for the latest nested fields block -->
    <div class="fields" style="display: hidden"></div>
  </div>
</template>


<template name="jobFormRulesItem">
  <div class="ui horizontal divider">
    Rule #{{increment ruleIdx}} &ensp;
    <small><a href="" class="js-remove-rule">(remove)</a></small>
  </div>

  <div class="fields">
    <div class="two wide field">
      <h3 class="ui header">WHAT</h3>
    </div>
    <div class="fourteen wide field">
      <div class="fields">
        <div class="six wide field">
          <input type="text" name="rules[{{ruleIdx}}][name]" value={{rule.name}} placeholder="Name">
        </div>
        <div class="three wide field">
          {{> severityDropdown name=(path '[severity]') value=rule.severity}}
        </div>
      </div>
    </div>
  </div>

  <div class="fields">
    <div class="two wide field">
      <h3 class="ui header">WHEN</h3>
    </div>
    <div class="fourteen wide field">
      {{#each condition in rule.conditions}}
        {{> jobFormRulesItemCondition condIdx=@index ruleIdx=ruleIdx condition=condition fields=fields}}
      {{/each}}
    </div>
  </div>
</template>


<template name="jobFormRulesItemCondition">
  <div class="fields">
    <div class="four wide field">
      <div class="ui single search selection dropdown">
        <input type="hidden" name="{{path}}[field]" value={{condition.field}}>
        <i class="dropdown icon"></i>
        <span class="default text">select field</span>
        <div class="menu">
          {{#each field in fields}}
            <div class="item" data-value={{field}}>{{field}}</div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="two wide field">
      <div class="ui compact selection dropdown">
        <input type="hidden" name="{{path}}[op]" value={{condition.op}}>
        <i class="dropdown icon"></i>
        <span class="default text">operator</span>
        <div class="menu">
          {{#each operator in operators}}
            <div class="item" data-value={{operator.name}}>{{operator.display}}</div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="four wide field">
      <input type="text" name="{{path}}[value]" value={{condition.value}} placeholder="value or @field">
    </div>

    <div class="two wide field">
      <div class="ui blue basic circular icon button js-add-condition">
        <i class="plus icon"></i>  
      </div>

      <div class="ui red basic circular icon button js-remove-condition">
        <i class="minus icon"></i>  
      </div>
    </div>
  </div>
</template>