<template name="jobForm">
  <form class="ui job form">

    <div class="fields">
      <div class="four wide field">
        <div class="ui search selection dropdown">
          <input type="hidden" name="sourceId">
          <i class="dropdown icon"></i>
          <div class="default text">Source</div>
          <div class="menu">
            {{#each source in sources}}
              <div class="item" data-value={{source._id}}>{{source.name}}</div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="fourteen wide field">
        <input type="text" name="name" placeholder="Job Name">  
      </div>
    </div>

    <div class="field">
      <textarea name="query"></textarea>
    </div>

    <div class="ui fluid styled accordion field">
      <div class="title"><i class="dropdown icon"></i> Periodicity</div>
      <div class="content">{{> jobFormPeriodicity}}</div>

      <div class="title"><i class="dropdown icon"></i> Email</div>
      <div class="content">{{> jobFormEmail}}</div>
    </div>

    <div class="field">
      <div class="ui submit button {{saveBtnClass}}">save</div>
      <div class="ui submit button js-query">save &amp; run</div>
      {{#if param 'id'}}
        <div class="ui right floated negative button js-delete">delete</div>
      {{/if}}
    </div>

  </form>

  {{> jobView}}
</template>


<template name="jobFormPeriodicity">
  <p>How often should the job be executed?</p>
  <select name="periodicity">
    <option value="">Periods</option>
    <option value="daily">daily</option>
    <option value="-">just once</option>
  </select>
</template>


<template name="jobFormEmail">
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name="email_enabled">
      <label>enable email notification</label>
    </div>
  </div>
  <div class="field">
    <input type="text" name="email_recipients" placeholder="Recipients">
  </div>
  <div class="field">
    <input type="text" name="email_subject" placeholder="Subject">
  </div>
  <div class="field">
    <textarea name="email_content"></textarea>
  </div>
</template>