<template name="jobFormRules">
  <input type="hidden" class="dummy">
  <div class="ui small form">
    <div class="fields">
      <div class="twelve wide field">
        <div class="ui left labeled input">
          <div class="ui label"><i class="mail icon"></i> Email</div>
          <input type="text" name="alarm[email]" value={{doc.alarm.email}} placeholder="recipients, comma separated">
        </div>
      </div>
      <div class="four wide field">
        {{> severityDropdown name="alarm[emailSeverity]" value=doc.alarm.emailSeverity}}
      </div>
    </div>

    {{#if publicSetting 'slackEnabled'}}
    <div class="fields">
      <div class="twelve wide field">
        <div class="ui left labeled input">
          <div class="ui label"><i class="slack icon"></i> Slack</div>
          <input type="text" name="alarm[slack]:list" value={{list doc.alarm.slack}} placeholder="#channel, @user">  
        </div>
      </div>
      <div class="four wide field">
        {{> severityDropdown name="alarm[slackSeverity]" value=doc.alarm.slackSeverity}}
      </div>
    </div>
    {{/if}}

    {{#each rule in rules}}
      {{> jobFormRulesItem ruleIdx=@index rule=rule fields=doc.result.fields}}
    {{/each}}

    {{#if rules.length}}
      <div class="ui divider"></div>
    {{/if}}

    <div class="field">
      <div class="ui fluid blue basic labeled icon button js-add-rule">
        <i class="plus icon"></i> Add rule
      </div>  
    </div>

    <!-- Tricking semantic ui into not removing the bottom margin for the latest nested fields block -->
    <div class="fields" style="display: hidden"></div>
  </div>
</template>


<template name="jobFormRulesItem">
  <div class="ui horizontal divider">
    Rule #{{increment ruleIdx}} &ensp;
    <small><a href="" class="js-remove-rule">(remove)</a></small>
  </div>

  <div class="fields">
    <div class="two wide field">
      <h3 class="ui header">WHAT</h3>
    </div>
    <div class="fourteen wide field">
      <div class="fields">
        <div class="six wide field">
          <input type="text" name="rules[{{ruleIdx}}][name]" value={{rule.name}} placeholder="Name">
        </div>
        <div class="three wide field">
          {{> severityDropdown name=(path '[severity]') value=rule.severity}}
        </div>
      </div>
    </div>
  </div>

  <div class="fields">
    <div class="two wide field">
      <h3 class="ui header">WHEN</h3>
    </div>
    <div class="fourteen wide field">
      {{#each condition in rule.conditions}}
        {{> jobFormRulesItemCondition condIdx=@index ruleIdx=ruleIdx condition=condition fields=fields}}
      {{/each}}
    </div>
  </div>
</template>


<template name="jobFormRulesItemCondition">
  <div class="fields">
    <div class="four wide field">
      {{> dropdown name=(path '[field]') value=condition.field items=fields placeholder="select field"}}
    </div>

    <div class="two wide field">
      {{> dropdown name=(path '[op]') value=condition.op items=operators placeholder="operator"}}
    </div>

    <div class="four wide field">
      <input type="text" name={{path '[value]'}} value={{condition.value}} placeholder="value or @field">
    </div>

    <div class="two wide field">
      <div class="ui blue basic circular icon button js-add-condition">
        <i class="plus icon"></i>  
      </div>

      <div class="ui red basic circular icon button js-remove-condition">
        <i class="minus icon"></i>  
      </div>
    </div>
  </div>
</template>