<template name="jobForm">
  <form class="ui job form">
    <input type="hidden" name="_id" value={{doc._id}}>

    <div class="fields">
      <div class="four wide field">
        <div class="ui single search selection source dropdown">
          <input type="hidden" name="sourceId" value={{doc.sourceId}}>
          <i class="dropdown icon"></i>
          <div class="default text">Source</div>
          <div class="menu">
            {{#each source in sources}}
              <div class="item" data-value={{source._id}}>
                {{source.name}}
                <div class="meta">{{source.owner}}</div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="fourteen wide field">
        <input type="text" name="name" value={{doc.name}} placeholder="Job Name">  
      </div>
    </div>

    <div class="field">
      <textarea name="query"></textarea>
    </div>

    <div class="ui fluid styled accordion field">
      <div class="title">
        <i class="dropdown icon"></i> Schedule
        {{#if doc.schedule}}<i class="lightning icon"></i>{{/if}}
        {{#if doc.scheduleError}}<i class="warning sign icon"></i>{{/if}}
      </div>
      <div class="content">{{> jobFormSchedule doc=doc}}</div>

      {{#if doc.result.fields}}
        <div class="title">
          <i class="dropdown icon"></i> Alarms
          {{#if doc.rules}}<i class="lightning icon"></i>{{/if}}
        </div>
        <div class="content">{{> jobFormRules doc=doc}}</div>
      {{/if}}

      <div class="title">
        <i class="dropdown icon"></i> Email
        {{#if doc.email.enabled}}<i class="lightning icon"></i>{{/if}}
      </div>
      <div class="content">{{> jobFormEmail doc=doc}}</div>

      <div class="title">
        <i class="dropdown icon"></i> Permissions
        {{#if hasPermissions doc}}<i class="lightning icon"></i>{{/if}}
      </div>
      <div class="content">{{> jobFormPermissions doc=doc}}</div>
    </div>

    <div class="action field {{ownerOrNewVisibility doc}}">
      <div class="ui buttons">
        <div class="ui submit button {{saveBtnClass}}">save</div>
        {{#if doc._id}}
          <div class="or" data-text="&amp;"></div>
          <div class="ui submit button js-query">run</div>
        {{/if}}
      </div>

      {{#if doc._id}}
        <div class="ui right floated negative button js-delete">delete</div>
      {{/if}}
    </div>
  </form>

  {{#if doc.result}}
    <h4 class="ui dividing header">
      Visualizations
    </h4>

    <div class="ui list">
      {{#each vis in doc.visualizations}}
        <a href={{pathFor 'visualizationEdit' id=vis._id}} class="item">
          <i class="area chart icon"></i>
          {{vis.title}}
        </a>
      {{/each}}
    </div>

    {{#if isOwner doc}}
      <div class="ui tiny basic blue labeled icon button js-add-visualization">
        <i class="plus icon"></i>
        Add new visualization
      </div>
    {{/if}}
  {{/if}}

  {{#if doc.result}}
    <h4 class="ui dividing header">
      Result
      <span class="sub header">
        updated {{timeAgo doc.result.updatedAt}}
      </span>
      {{> alarmLabel severity=doc.alarmStatus}}
    </h4>

    {{#if doc.isRunning}}
      <div class="ui active small inline loader"></div>
      <div class="ui red basic button js-cancel">cancel</div>
    {{/if}}

    {{> visualization visType="DataTable" result=doc.result visBasic=true}}
  {{/if}}
</template>


<template name="jobFormSchedule">
  <div class="ui small form">
    <div class="field">
      How often should the job be executed? For more info on syntax have a look at the
      <a href="http://bunkat.github.io/later/parsers.html#text" target="_blank">Text Parser documentation</a>.  
    </div>
    <div class="field">
      <input type="text" name="schedule" value={{doc.schedule}} placeholder="e.g. every 1 day">
    </div>

    {{#if doc.scheduleError}}
      <div class="ui small negative message">{{doc.scheduleError}}</div>
    {{/if}}
  </div>
</template>


<template name="jobFormEmail">
  <div class="ui small form">
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="email[enabled]:boolean" checked={{doc.email.enabled}}>
        <label>enable email notification</label>
      </div>
    </div>
    <div class="field">
      <label>Recipients</label>
      <input type="text" name="email[recipients]" value={{doc.email.recipients}} placeholder="Recipients">
    </div>
    <div class="field">
      <label>Message</label>
      <input type="text" name="email[subject]" value={{doc.email.subject}} placeholder="Subject">
    </div>
    <div class="field">
      <textarea name="email[content]">{{doc.email.content}}</textarea>
    </div>
  </div>
</template>


<template name="jobFormPermissions">
  <div class="ui small form">
    <div class="field">
      <label>Access Groups</label>
      {{> groupsInput name='accessGroups:list' value=doc.accessGroups}}
    </div>

    <div class="field">
      <label>Owner Groups</label>
      {{> groupsInput name='ownerGroups:list' value=doc.ownerGroups}}
    </div>
  </div>
</template>