<template name="jobList">
  <div class="ui form">
    <div class="fields">
      <div class="three wide field">
        <a href={{pathFor 'jobNew'}} class="ui fluid basic labeled icon button">
          <i class="plus icon"></i> Create Job
        </a>
      </div>

      <div class="seven wide field">
        <div class="ui fluid icon input">
          <i class="search icon"></i>
          <input type="text" name="search" placeholder="Search..." value={{search}}>
        </div>
      </div>

      <div class="three wide field">
        {{> dropdown name="status" value=status items=statusOptions allowEmpty=true placeholder="no filter"}}
      </div>

      <div class="three wide field">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="filterOwn" checked={{filterOwn}}>
          <label>show only own</label>
        </div>
      </div>
    </div>
  </div>

  <div class="ui relaxed divided animated list">
    {{#each job in jobs}}
      <a href={{pathFor 'jobEdit' id=job._id}} class="item">
        <div class="right floated content">
          {{> alarmLabel severity=job.alarmStatus}}
          {{#if job.schedule}}
            <div class="ui tag label">{{job.schedule}}</div>
          {{/if}}
        </div>
        <i class="{{icon job}} icon"></i>   
        <div class="content">
          <div class="header">{{job.name}}</div>
          <div class="description">created {{timeAgo job.createdAt}} by <em>{{job.owner}}</em></div>
        </div>
      </a>
    {{/each}}
  </div>

  {{#if hasMore jobs}}
    <div class="ui fluid basic button js-load-more {{#unless Template.subscriptionsReady}}loading{{/unless}}">load more...</div>
  {{/if}}
</template>