<template name="jobList">
  <div class="ui grid">
    <div class="three wide column">
      <a href={{pathFor 'jobNew'}} class="ui fluid basic labeled icon button">
        <i class="plus icon"></i> Create Job
      </a>
    </div>

    <div class="ten wide column">
      <div class="ui fluid icon input">
        <i class="search icon"></i>
        <input type="text" name="search" placeholder="Search..." value={{search}}>
      </div>
    </div>

    <div class="three wide column">
      <div class="ui toggle checkbox">
        <input type="checkbox" name="filterOwn" checked={{filterOwn}}>
        <label>show only own</label>
      </div>
    </div>
  </div>

  <div class="ui relaxed divided animated list">
    {{#each job in jobs}}
      <a href={{pathFor 'jobEdit' id=job._id}} class="item">
        <div class="right floated content">
          {{> alarmLabel severity=job.alarmStatus}}
          {{#if job.schedule}}
            <div class="ui tag label">{{job.schedule}}</div>
          {{/if}}
        </div>
        <i class="{{icon job}} icon"></i>   
        <div class="content">
          <div class="header">{{job.name}}</div>
          <div class="description">created {{timeAgo job.createdAt}} by <em>{{job.owner}}</em></div>
        </div>
      </a>
    {{/each}}
  </div>
</template>