<template name="eventList">
  <h3 class="ui top attached blue segment"><i class="filter icon"></i> Filter Events</h3>
  <form class="ui filter-events form bottom attached segment">
    <div class="fields">
      <div class="three wide field">
        <label>Start Date</label>
        <dic class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" name="startDate" placeholder="YYYY-MM-DD" value={{filterValue "startDate"}}>
        </dic>
      </div>

      <div class="three wide field">
        <label>End Date</label>
        <dic class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" name="endDate" placeholder="YYYY-MM-DD" value={{filterValue "endDate"}}>
        </dic>
      </div>

      <div class="seven wide field">
        <label>Tags</label>
        {{> dropdown name="tags:list" value=(filterValue "tags") items=tags multiple=true}}
      </div>

      <div class="three wide field">
        <label>&nbsp;</label>
        <button class="ui primary basic fluid button">Filter</button>
      </div>
    </div>
  </form>

  <div class="timeline"></div>

  <h3 class="ui top attached green segment"><i class="plus icon"></i> Create Event</h3>
  <form class="ui create-event form bottom attached segment">
    <div class="fields">
      <div class="three wide field">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" name="date" placeholder="YYYY-MM-DD" value={{moment undefined 'YYYY-MM-DD'}}>
        </div>
      </div>

      <div class="thirteen wide field">
        <input type="text" name="title" placeholder="Event title">
      </div>
    </div>

    <div class="fields">
      <div class="thirteen wide field">
        {{> dropdown name="tags:list" items=tags multiple=true allowAdditions=true placeholder="Tag 1, Tag 2"}}
      </div>

      <div class="three wide field">
        <button class="ui positive basic fluid button">Add</button>
      </div>
    </div>
  </form>

  <div class="ui list">
    {{#each event in events}}
      {{> eventItem event}}
    {{/each}}
  </div>
</template>


<template name="eventItem">
  <div class="item">
    <div class="right floated content">
      <div class="ui negative basic button js-delete">delete</div>
    </div>
    <i class="right triangle icon"></i>
    <div class="content">
      <div class="header">
        {{title}}
        {{#each tag in tags}}
          <div class="ui small tag label">{{tag}}</div>
        {{/each}}        
      </div>
      <div class="description">
        {{date}}
      </div>
    </div>
  </div>
</template>