body {
  overflow-x: auto;
}

#__blaze-root {
  height: 100%;
}

.pusher {
  margin-left: 15rem;
}

.main.menu .header.item {
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.main.menu .spacer.item {
  height: 60px;
}

#logo {
  width: 70px;
  height: 60px;
  vertical-align: middle;
}

div.hopscotch-bubble .hopscotch-bubble-container .hopscotch-bubble-close {
  background: transparent url(hopscotch/sprite-green.png) -192px -92px no-repeat;
}
div.hopscotch-bubble .hopscotch-bubble-container .hopscotch-bubble-number {
  background: transparent url(hopscotch/sprite-green.png) 0 0 no-repeat;
}