<head>
  <title>Heimdall</title>
  <link rel="shortcut icon" href="/favicon.ico?v=2">
</head>


<template name="layout">
  <div class="ui sidebar inverted vertical main menu {{isNotFullscreen 'visible'}}">
    <div class="header item">
      <canvas id="logo"></canvas> <span>eimdall</span>
    </div>

    <a href={{pathFor 'dashboardList'}} class="{{isActiveRoute regex='^dashboard'}} item">
      <i class="block layout icon"></i> Dashboards
    </a>
    <a href={{pathFor 'jobList'}} class="{{isActiveRoute regex='^job'}} item">
      <i class="cubes icon"></i> Jobs
    </a>
    <a href={{pathFor 'sourceList'}} class="{{isActiveRoute regex='^source'}} item">
      <i class="database icon"></i> Sources
    </a>
    <a href={{pathFor 'alarmList'}} class="{{isActiveRoute regex='^alarm'}} item">
      <i class="alarm icon"></i> Alarms
    </a>
    <!-- <a href={{pathFor 'eventList'}} class="{{isActiveRoute regex='^event'}} item">
      <i class="calendar icon"></i> Events
    </a> -->

    <div class="spacer item"></div>

    <a href="https://github.com/hyperborea/heimdall/issues" target="_blank" class="item"><i class="comment icon"></i> Issues</a>
    <a href={{pathFor 'statistics'}} class="{{isActiveRoute regex='^statistics'}} item">
      <i class="line chart icon"></i> Statistics
    </a>
    <a href={{pathFor 'userOverview'}} class="{{isActiveRoute regex='^user'}} item">
      <i class={{userIcon currentUser}}></i>
      {{currentUser.displayName}}
    </a>
    <div class="menu">
      {{#if mayAdmin}}
        <a href="" class="{{isAdmin 'active'}} item js-toggle-admin">
          Admin {{isAdmin 'enabled' 'disabled'}}
        </a>
      {{/if}}
      <a href={{pathFor 'logout'}} class="item">Logout</a>
    </div>
  </div>

  <div class="{{isNotFullscreen 'pusher'}}">
    <div class="ui basic segment">
      {{> Template.dynamic template=template data=data}}  
    </div>
  </div>

  <div class="ui small basic modal confirm">
    <div class="ui icon header"><i class="warning sign icon"></i> <span class="content"></span></div>
    <div class="actions">
      <div class="ui inverted basic cancel button"><i class="remove icon"></i> Cancel</div>
      <div class="ui green inverted approve button"><i class="checkmark icon"></i> OK</div>
    </div>
  </div>

  <!-- {{> layoutDisclaimer}} -->
</template>

<template name="layoutDisclaimer">
  <div class="ui basic modal disclaimer">
    <div class="ui icon header">
      <i class="bomb icon"></i> Beta Version
    </div>
    <div class="content" style="text-align: center">
      <p>This is a prototype and provides no guarantees, no SLA and no official support at this point.</p>
      <p>
        <em>Heimdall</em> was born out of passion and if it proves useful I'm convinced we can make an official project out of it. For now however it's maintained by me personally and I'd love to hear your thoughts.
      </p>
      <p>/Sven</p>
    </div>
    <div class="actions">
      <a href="https://github.com/hyperborea/heimdall/issues" target="_blank" class="ui basic ok inverted button">
        <i class="bug icon"></i> Report bug or suggest feature
      </a>
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i> OK
      </div>
    </div>
  </div>
</template>