<head>
  <title>Heimdall</title>
</head>


<template name="layout">
  <div class="ui inverted fixed main menu">
    <div class="ui container">
      <div class="header item">
        Heimdall
      </div>

      <a href={{pathFor 'dashboardList'}} class="item"><i class="block layout icon"></i> Dashboards</a>
      <a href={{pathFor 'jobList'}} class="item"><i class="cubes icon"></i> Jobs</a>
      <a href={{pathFor 'sourceList'}} class="item"><i class="database icon"></i> Sources</a>

      <div class="right menu">
        <div class="ui dropdown item">
          <i class="user icon"></i> {{currentUser.displayName}}
          <div class="menu">
            <a href={{pathFor 'logout'}} class="item">
              <i class="sign out icon"></i> Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui main container">
    {{> Template.dynamic template=main}}  

    {{#if isLoading}}
      <center>
        <i class="big loading circle notched icon"></i> 
      </center>
    {{/if}}
  </div>
</template>