#__blaze-root {
  height: 100%;
}

.pusher {
  margin-left: 15rem;
}

.main.menu .header.item {
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.main.menu .spacer.item {
  height: 60px;
}

#logo {
  width: 70px;
  height: 60px;
  vertical-align: middle;
}