<head>
  <title>Heimdall</title>
  <link rel="shortcut icon" href="/favicon.ico?v=2">
</head>


<template name="layout">
  <div class="ui sidebar inverted vertical main menu {{isNotFullscreen 'visible'}}">
    <div class="header item">
      <canvas id="logo"></canvas> <span>eimdall</span>
    </div>

    <a href={{pathFor 'dashboardList'}} class="{{isActiveRoute regex='^dashboard'}} item">
      <i class="block layout icon"></i> Dashboards
    </a>
    <a href={{pathFor 'jobList'}} class="{{isActiveRoute regex='^job'}} item">
      <i class="cubes icon"></i> Jobs
    </a>
    <a href={{pathFor 'sourceList'}} class="{{isActiveRoute regex='^source'}} item">
      <i class="database icon"></i> Sources
    </a>
    <a href={{pathFor 'alarmList'}} class="{{isActiveRoute regex='^alarm'}} item">
      <i class="alarm icon"></i> Alarms
    </a>

    <div class="spacer item"></div>

    <a href="https://github.com/hyperborea/heimdall/issues" target="_blank" class="item"><i class="comment icon"></i> Feedback</a>
    <a href={{pathFor 'statistics'}} class="{{isActiveRoute regex='^statistics'}} item">
      <i class="line chart icon"></i> Statistics
    </a>
    <div class="item">
      {{currentUser.displayName}}
      <div class="menu">
        {{#if mayAdmin}}
          <a href="" class="{{isAdmin 'active'}} item js-toggle-admin">
            <i class="rocket icon"></i> Admin {{isAdmin 'enabled' 'disabled'}}
          </a>
        {{/if}}
        <a href={{pathFor 'logout'}} class="item"><i class="sign out icon"></i> Logout</a>
      </div>
    </div>
  </div>

  <div class="{{isNotFullscreen 'pusher'}}">
    <div class="ui basic segment">
      {{> Template.dynamic template=template data=data}}  
    </div>
  </div>
</template>