<template name="userOverview">
  <h1 class="ui dividing header">
    <i class={{userIcon currentUser}}></i>
    <div class="content">
      {{currentUser.displayName}}
      <div class="sub header">{{currentUser.title}}</div>  
    </div>
  </h1>

  <form class="ui form">
    <div class="field">
      <label>
        User Icon
        <a href="http://semantic-ui.com/elements/icon.html" target="_blank">
          <i class="external link icon"></i>
        </a>
      </label>
      <input type="text" name="icon" value={{currentUser.profile.icon}} placeholder="icon">
    </div>
    <button class="ui button" type="submit">Save Profile</button>
  </form>

  <div class="ui horizontal divider"></div>

  <h3 class="ui dividing header">
    <i class="lock icon"></i> Groups
  </h3>

  <div class="ui four cards">
    {{#each group in groups}}
      <div class="card">
        <div class="content">
          {{group}}  
        </div>
      </div>
    {{/each}}
  </div>
</template>