<template name="dashboardFormWidget">
  <div class="dashboardFormWidget">

    <div class="ui form">
      <div class="field">
        <div class="ui search selection dropdown">
          <input type="hidden" name="visId" value={{visId}}>
          <i class="dropdown icon"></i>
          <div class="default text">select visualization</div>
          <div class="menu">
            {{#each vis in visualizations}}
              <div class="item" data-value={{vis._id}}>
                {{vis.title}}
                <div class="description">{{vis.job.owner}}</div>
                <div class="meta">{{vis.job.name}}</div>
              </div>
            {{/each}}
          </div>
        </div>  
      </div>

      <div class="divider"></div>
      
      <div class="field">
        <div class="ui basic button js-remove-widget">Remove</div>
      </div>
    </div>
    
  </div>
</template>