<template name="dashboardForm">
  <form class="ui form container">
    <div class="fields">
      <div class="ten wide field">
        <div class="ui left labeled input">
          {{#if doc._id}}
            <a href={{pathFor 'dashboardView' id=doc._id}} class="ui label">dashboard</a>
          {{/if}}
          <input type="text" name="title" placeholder="Dashboard Title" value={{doc.title}}>  
        </div>
      </div>

      <div class="two wide field">
        <div class="ui fluid basic blue labeled icon button js-add-widget">
          <i class="plus icon"></i> Widget
        </div>
      </div>

      <div class="two wide field">
        <div class="ui fluid submit button">Save</div>
      </div>

      <div class="two wide field">
        <div class="ui fluid negative icon button js-delete">Delete</div>
      </div>
    </div>

    <div class="field">
      {{> groupsInput name='accessGroups' value=doc.accessGroups}}
    </div>
  </form>

  <div class="gridster"></div>
</template>