<template name="dashboardForm">
  <form class="ui small form segment">
    <input type="hidden" name="_id" value={{dashboard._id}}>

    <div class="fields">
      <div class="eight wide field">
        <div class="ui {{#if dashboard._id}}left action{{/if}} input">
          {{#if dashboard._id}}
          <a href={{pathFor 'dashboardView' id=dashboard._id}} class="ui icon button">
            <i class="eye icon"></i>
          </a>
          {{/if}}
          <input type="text" name="title" placeholder="Dashboard Title" value={{dashboard.title}}>
        </div>
      </div>

      <div class="six wide field">
        <div class="ui labeled input">
          <div class="ui basic right pointing label">tags</div>
          {{> dropdown name="tags:list" value=dashboard.tags placeholder="add tags" multiple=true allowAdditions=true}}
        </div>
      </div>

      <div class="two wide field">
        <div class="ui fluid basic negative labeled icon button js-delete {{disabledIfNew}}">
          <i class="trash icon"></i> Delete
        </div>
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <div class="ui labeled input">
          <div class="ui basic right pointing label">description</div>
          <input type="text" name="description" placeholder="optional" value={{dashboard.description}}>
        </div>
      </div>

      <div class="field">
        <div class="ui labeled input">
          <div class="ui basic right pointing label">params</div>
          <input type="text" name="params" placeholder="defaults as query string" value={{dashboard.params}}>
        </div>
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <div class="ui labeled input">
          <div class="ui basic right pointing label">shared with</div>
          {{> groupsInput name='accessGroups:list' value=dashboard.accessGroups}}
        </div>
      </div>

      <div class="field">
        <div class="ui labeled input">
          <div class="ui basic right pointing label">owned by</div>
          {{> groupsInput name='ownerGroups:list' value=dashboard.ownerGroups}}
        </div>
      </div>
    </div>

    <div class="fields">
      <div class="ten wide field">
        <div class="ui fluid basic positive labeled icon submit button {{disabledIfSaved}}">
          <i class="checkmark icon"></i> Save
        </div>
      </div>

      <div class="three wide field">
        <div class="ui fluid basic blue labeled icon button js-add-vis-widget">
          <i class="plus icon"></i> Visualization
        </div>
      </div>

      <div class="three wide field">
        <div class="ui fluid basic blue labeled icon button js-add-text-widget">
          <i class="plus icon"></i> Text
        </div>
      </div>
    </div>

    <div class="ui horizontal divider"><i class="settings icon"></i></div>

    <div class="fields">
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="includeNonOwned:skip">
          <label><small>include non-owned visualizations in dropdown</small></label>
        </div>
      </div>
    </div>
  </form>

  <div class="gridster"></div>

  {{#unless Template.subscriptionsReady}}
  <div class="ui active centered inline loader"></div>
  {{/unless}}

  <div class="ui info message">
    <div class="header">Did you know?</div>
    Sharing a dashboard automatically shares access to the underlying data sources as well, no need to additionally
    grant permissions on all jobs!
  </div>
</template>