<template name="dashboardView">
  {{#unless embedded}}
  <h1 class="ui dividing header">
    {{#unless isFullscreen}}
      <div class="ui grid">
        <div class="thirteen wide column">
          {{dashboard.title}}
          {{#if isOwner dashboard}}
            <small>
              <a href={{pathFor 'dashboardEdit' id=dashboard._id}}>(edit)</a>
            </small>
          {{/if}}
          <span class="sub header">{{dashboard.description}}</span>
        </div>
        <div class="three wide right aligned column">
          <i class="play link icon js-present-mode" title="present"></i>
          <i class="{{fullscreenClass}} link icon js-toggle-fullscreen" title="fullscreen"></i>
          <i class="{{starredClass}} star link icon js-toggle-star" title="star"></i>
        </div>
      </div>
    {{else}}
      {{dashboard.title}}
    {{/unless}}
  </h1>
  {{/unless}}

  <div class="gridster"></div>

  {{#unless Template.subscriptionsReady}}
    <div class="ui active centered inline loader"></div>
  {{/unless}}
</template>