<template name="dashboardView">
  {{#unless embedded}}
  <h1 class="ui dividing header">
    {{#unless isFullscreen}}
    <div class="ui grid">
      <div class="ten wide column">
        {{dashboard.title}}
        <span class="sub header">{{dashboard.description}}</span>
      </div>
      <div class="six wide right aligned column">
        {{#if isOwner dashboard}}
        <a href={{pathFor 'dashboardEdit' id=dashboard._id}}>
          <i class="tiny edit link icon"></i>
        </a>
        {{/if}}
        <i class="tiny play link icon js-present-mode" title="present"></i>
        <i class="tiny {{fullscreenClass}} link icon js-toggle-fullscreen" title="fullscreen"></i>
        <i class="tiny {{starredClass}} link icon js-toggle-star" title="star"></i>
      </div>
    </div>
    {{else}}
    {{dashboard.title}}
    {{/unless}}
  </h1>
  {{/unless}}

  {{#if paramArray.length}}
  <form class="ui parameters form">
    <div class="fields">
      {{#each param in paramArray}}
      <div class="four wide field">
        <div class="ui labeled input">
          <div class="ui basic grey label">{{param.name}}</div>
          <input type="text" name="{{param.name}}" value={{param.value}}>
        </div>
      </div>
      {{/each}}
      <button class="ui basic green submit button">Go</button>
    </div>
  </form>
  {{/if}}

  <div class="gridster"></div>

  {{#unless Template.subscriptionsReady}}
  <div class="ui active centered inline loader"></div>
  {{/unless}}
</template>