<template name="alarmList">
  <div class="ui form segment">
    <div class="ui toggle checkbox">
      <input type="checkbox" name="showAck" checked={{showAck}}>
      <label>show acknowledged</label>
    </div>
  </div>

  <div class="ui small feed">
    {{#each alarm in alarms}}
      {{> alarmItem alarm=alarm}}
    {{/each}}
  </div>

  {{#unless hasItems alarms}}
    <div class="ui info message">
      Wohoo, no alarms to show! Or haven't you set up any job monitoring yet?  
    </div>
  {{/unless}}
</template>